<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995760751404-jnvi90nnsflm7664afaa4oqjgpupphgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995760751404-jnvi90nnsflm7664afaa4oqjgpupphgc</string>
	<key>API_KEY</key>
	<string>AIzaSyASnXr86-FjluLJdhwl5BWgEkgpg1Y2eqo</string>
	<key>GCM_SENDER_ID</key>
	<string>995760751404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qiitaApp</string>
	<key>PROJECT_ID</key>
	<string>qiita-app-f4c85</string>
	<key>STORAGE_BUCKET</key>
	<string>qiita-app-f4c85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995760751404:ios:531b2132ecb0e5a3d92289</string>
</dict>
</plist>